/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
//Google Font Import example
 @import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Julius+Sans+One|Nanum+Brush+Script|Nothing+You+Could+Do&display=swap');
 $fontfun: 'Nanum Brush Script', cursive;
 $fontbasic:'Hind Madurai', sans-serif;
 $fontlight: 'Julius Sans One', sans-serif;
 $fontcursive: 'Nothing You Could Do', cursive;
 
/**
 * Colors
 */
$main-color: purple;

/**
 * Grid
 */